<section id="about" class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_01.png" alt="">
                    </div>
                    <h4>Web Applications</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_02.png" alt="">
                    </div>
                    <h4>Mobile Applications</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_03.png" alt="">
                    </div>
                    <h4>Ecommerce Applications</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="service-item">
                    <div class="icon">
                        <img src="assets/img/service_icon_04.png" alt="">
                    </div>
                    <h4>CRM & CMS</h4>
                    <div class="line-dec"></div>
                </div>
            </div>
        </div>
    </div>
</section>